<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        {{message}} {{message + message}}
        <div :id="message"></div>
        <todo-list>
            <todo-item v-for="item in list" @delete="deletehandel" :key="item.name" :name="item.name" :del="item.del">
                <template v-slot:pre-icon="{value}">
                    <span>前置图标{{value}}</span>
                </template>
                <template v-slot:suf-icon>
                    <!-- <span>后置图标</span> -->
                </template>
                <!-- vue2.5
                <span slot="pre-icon">前置图标</span>
                <span slot="suf-icon">后置图标</span> -->
            </todo-item>
        </todo-list>
    </div>
    <script>
        Vue.component('todo-item',{
            template: `
                <li>
                    <slot name="pre-icon" :value="value"></slot>
                    <span v-if="!del">{{name}}</span>
                    <span v-else style="text-decoration: line-through;">{{name}}</span>
                    <slot name="suf-icon">😃</slot>
                    <button v-show="!del" @click="handelClick">删除</button>
                </li>
            `,
            props: {
                name: String,
                del: Boolean
            },
            data: function(){
                return {
                    value: Math.random()
                }
            },
            methods: {
                handelClick (){
                    this.$emit('delete', this.name);
                }
            }
        });
        Vue.component('todo-list',{
            template: `
                <ul>
                    <slot></slot>
                </ul>
            `,
            data: function(){
                return {
                    
                }
            },
            methods: {

            }
        });
        var vue = new Vue({
            el: "#app",
            data: {
                message: 'hello world',
                list: [
                        {
                            name: '课程',
                            del: false
                        },
                        {
                            name: '课程2',
                            del: true
                        }
                    ]
            },
            methods: {
                deletehandel(val){
                    console.log('deletehandel:',val)
                }
            }
        })
    </script>
</body>
</html>